<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="logFolderPath" value="C:\log\"/>
    <add key="ConnectionString" value="data source=113.128.163.245,1433;initial catalog=nextgenpaysecure;User ID=nextgen;Password=nextgen;"/>
  </appSettings>
  <system.web>
    <authentication mode="Windows">
      <!--<forms loginUrl="~/Account/Login.aspx" timeout="2880"/>-->
    </authentication>
    
    <compilation targetFramework="4.0" debug="true"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
<!--<add key="IntranetDBConnection" connectionString="Data Source=114.9.185.10\SQL2005;Initial Catalog=VDSI_Intranet_DB;User Id=intra;Password=!Intra10@09;"/>-->